body {
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.cover-page-container {
    width: 100vw;
    height: 100vh;
}

.scroll-snap-container {
    scroll-snap-type: y mandatory;
    overflow-y: auto;
    height: 100vh;
}

.scroll-snap-element {
    scroll-snap-align: center;
}

.scroll-snap-element:nth-child(odd) {
    background-color: cornflowerblue;
}

.transition-fast {
    transition: 0.2s;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-weight: 600;
}

h1 {
    font-size: 96px;
}

.small-text {
    font-size: 24px;
}

.fade-on-scroll-element {
    opacity: 0;
}